@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;    box-sizing: border-box;
    font-size: 62.5%;
}
html{
    scroll-behavior: smooth;
}
.header{
    width: 100%;
    height: 45vh;
    background: linear-gradient(rgba(172, 172, 172, 0.3),rgba(172, 172, 172, 0.3)), url('./Images/header-image2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.list{
    list-style-type: none;
    display: inline;
    font-size: 150%;
    /* float: right; */
    font-weight: 200;
    margin: 0 5px;

}
 .login{
    /* border: 2px solid black; */
    background-color: rgb(80, 135, 80);
    padding: 3px 10px ;
    border-radius: 10px;
    width: 3vw;
    text-align: center;
    font-weight: 300;
    color: white;
    font-size: 1rem;
    position: absolute;
    top: 8px;
    right: 1vw;
    /* opacity: 1; */
    /* z-index: inherit; */
    

}

.login:hover{
    background-color: rgb(70, 92, 70);
}

.top{

    display: flex;
    justify-content: space-around;
    background-color: white;
    opacity: 0.85;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    /* box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.33); */
    
}
.top a{
    color: black;
    text-decoration: none;
}
.top a:hover{
    color: rgb(64, 107, 64);
}
.header h2{
    margin: 0;
    font-size: 200%;
    padding-top: 0.50rem;
    /* padding-top: 0; */
    /* float: left; */

    /* width: 50px; */
}
.midhead
{
    text-align: center;
}
.midhead h2{
    font-weight: 400;
    padding-top: 10vh;
    font-size: 1rem;
    letter-spacing: 0.175rem;
    margin-bottom: 15px;
}
.midhead p{
    letter-spacing: 0.05rem;
    margin-bottom: 25px;
}
.midhead a{
    color: white;
    text-decoration: none;
    background-color: rgb(80, 135, 80);
    font-size: 0.75rem;
    /* border: 2px solid black; */
    position: relative;


    padding: 5px 15px;
    border-radius: 20px;
    
}
.about{
    display: flex;
    /* align-items: center; */
    text-align: left;
    /* align-content: center; */
    margin-top: 5rem;
    width: 60%;
    /* border: 2px solid black; */
    /* margin-left: auto; */
    padding-left: 1rem;
    margin-bottom: 2rem;
    margin-left: 20vw;
    /* box-shadow: 2px 5px 5px 2px rgba(0,0,0,0.3); */
}
.text h4{
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 4px;
    color: rgb(76, 76, 76);
}
.text h3{
    font-weight: 600;
    font-size: 1.2rem;
    /* margin: 0; */
}
.text p{
    font-size: 15px;
    font-weight: 200;
}

.about img{
    width: 100%;
    height: 100%;

}
/* .typesoffood{
    width: 60%;

} */
.typesoffood h1{
    text-align: center;
    font-weight: 300;
}
.images{
    display: flex;
    justify-content: center;
    /* font-weight: 100; */
}

.images img{
    width: 20%;
    padding: 0 5px;
    margin-bottom: 40px;

}
/* .fix
{
    clear: both;
} */


      /* ----------------  GO TO TOP BUTTON  -----------------   */

.gototop{
    position: fixed;
    top: 90vh;
    left: 95vw;
    background-color: rgb(79, 132, 79);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    /* margin-bottom: 50px; */
    text-align: center;

}
.gototop a{
    text-decoration: none;
    color: white;
    
}
.gototop:hover{
    background-color: rgb(42, 81, 42);
}
.gototop i{
    vertical-align: middle;
    font-size: 20px;
    padding-top: 8.25px;
}



    /* ---------------   FOOD MENU -------------- */

.foodmenu{
    max-width: 60vw;
    /* border: 2px solid black; */
    margin-left: 20vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* border: 2px solid red; */
    
}
.foodmenuheading{
    text-align: center;
    font-weight: 300;
    font-size: 22.5px;
}

.menuitem{
    /* border: 2px solid red; */
    width: 30vw;
    /* display: inline-block; */
    display: flex;
    width: 300px;
    height: 300px;

    justify-content: center;
}
/* .food1 {
    float: left;
}
.food2{
    float: right;
} */
.menuitem img{
    width: 12vw;
    border-radius: 50%;
    margin-top: 3.5vw;
    padding-left: 15px;
    
}

.menuitem .text{
    margin: 0 1.5vw ;
    
}
.price{
    color: rgb(80, 135, 80);
    font-weight: 500;
    font-size: 15px;

}

    /* -------------  REVIEWS  -----------  */
    .checked{
        color: orange;
    }

.heading-r{
    /* border: 2px solid red; */
    text-align: center;
    margin-bottom: 35px;
    color: rgb(40, 40, 40);

}
.heading-r h1{
    font-weight: 300;
    font-size: 2rem;
}
.reviews{
    width: 60vw;
    text-align: center;
    margin-left: 20vw;
    display: flex;
    font-size: 12.5px;

}
.reviews img{
    width: 12vw;
    border-radius: 50%;
    /* margin-bottom: 10vw; */

}
.reviews .re{
    padding: 0 15px;
    margin-bottom: 7.5vw;
}


    /* ----------- Contact us -------------  */
.contact{
    background-color: rgb(226, 226, 226);
    padding-top: 10px;
    height: 32.5vw;
}
.contact-us{
    display: flex;
    margin-top: 25px;
    margin-bottom: 20px;
    width: 60vw;
    margin-left: 20vw;
    /* height: auto; */

    /* padding-bottom: 1px; */
    /* background-color: white; */
    /* background-color: yellow; */
}
.contact h1{
    font-weight: 400;
    margin-bottom: 0;
}
.contact .form{
    padding-left: 10px;
    /* max-width: 50vw; */
}
.contact a{
    font-size: 1.2vw;
    text-decoration: none;
    color: white;
    background-color: rgb(80, 135, 80);
    padding: 5px 15px;
    margin-left: 5px;
    
    /* margin-bottom: 10px; */
    /* margin-top: 50px; */
    /* margin-bottom: 100px; */
    border-radius: 20px;
}

.contact-us textarea{
    /* margin-bottom: 10px; */
    margin-top: 10px;
    background-color: rgb(226, 226, 226);
    
}
.contact-us input {
    border: none;
    padding: 10px 0;
    background-color: rgb(226, 226, 226);
    border-bottom: 1px solid rgb(183, 183, 183);
    width: 80%;
}
.contact-us img{
    width: 30vw;
    margin-right: 10px;
    /* margin-left: 20px; */
    object-fit: cover;
    /* padding-bottom: 10px; */
    object-position: center;
    height: 100%;
}

    /* ---------------  media querries  ----------------  */

@media (max-width: 500px){
    body{
        font-size: 50%;
    }
    
    /* ------------  About us  -------------  */
.about {
    width: 90vw;
    flex-direction: column;

    margin-left: 5vw;
}
.about .img, .about .text{

    width: 90vw;
    /* margin-left: 5vw; */
    object-fit: cover;
    object-position: center;
}

    /* ---------------  types of food  ----------------  */

.typesoffood img{
    width: 90vw;
    margin-left: 5vw;
}
.typesoffood .images{

    flex-direction: column;
    /* width: 90vw; */
    justify-content: center;
}

    /* -----------------  food menu ---------------------  */

.foodmenu{
    width: 90vw;
    /* font-size: 50%; */
    margin-left: 5vw;
    flex-direction: column;
    justify-content: center;
}

.menuitem img{
    width: 40vw;
    padding-left: 15px;

}

.menuitem{
    width: 90vw;
}

    /* --------------- reviews  ------------------ */
.reviews{
    flex-direction: column;
    width: 90vw;
    margin-left: 5vw;
}
.reviews img{
    width: 30vw;
}


/* -------------------  contact us -----------------  */

.contact-us{
    flex-direction: column;
    width: 90vw;
    margin-left: 5vw;
}
.contact-us img{
    width: 90vw;
    object-fit: cover;
    object-position: center;
    margin-right: 0;
}

.contact-us input{
    width: 90vw;
    /* color: white; */
    
}

}

    /* ----------------  login page  -------------   */
.loginpage{
    width: 100vw;
    height: 100vh;
    
    background: linear-gradient(rgba(172, 172, 172, 0.3),rgba(172, 172, 172, 0.3)), url('./Images/loginBackground.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    border: 0.001px solid rgb(255, 255, 255);
    
}
.mainbox{
    width: 30vw;
    height: 35vw;
    margin-top: 20vh;  
    margin-left: 35vw;
    /* border: 2px solid black; */
    text-align: center;
    border-radius: 20px;
    background-color: white;
    opacity: 0.65;
    
    
}
.mainbox h1{
    font-weight: 300;
    font-size: 2vw;
    padding-top: 5vh;
    /* padding-bottom: 0;
    margin-bottom: 0; */


}
.mainbox input{
    width: 17.5vw;
    height: 4vh;
    margin: 1.4vh 0;
    border-radius: 25px;
    border: solid black;
    
}
.mainbox input[type="text"]{
    padding-left: 1vw;
}
.mainbox input[type="password"]{
    padding-left: 1vw;
}
/* .mainbox input[type="password"]{
    margin-bottom: 100px;
} */
.forgot{
    border: 0;
    background-color: white;
    width: 17.5vw;
    text-align: left !important;
    margin-bottom: 2vh;
    padding-left: 0.5vw;

}
.forgot:hover{
    color: green ;
}
.mainbox input[type="submit"]{
    background-color: green;
    color: white;
    border: 0;
    /* padding-left: 1vw; */
    /* padding-top: 10px; */
    margin-bottom: 3vh;
    cursor: pointer;

}
.mainbox input[type="submit"]:hover{
    background-color: rgb(1, 95, 1);
}
/* .mainbox p{
    font-size: 1.5vw;
    font-weight: 200;
} */
.mainbox .signinwith {
    font-size: 1vw;
    margin-bottom: 4vh;
}
.otheroptions{
    display: flex;
    justify-content: space-evenly;
}
.otheroptions a{
    text-decoration: none;
    color: black;
    display: inline-block;
    /* vertical-align: middle; */
    margin-left: 3px;
    
    font-size: 0.8vw;
}
.otheroptions i{
    /* display: inline-block; */
    vertical-align: middle;
    padding-bottom: 5px;
}
.otheroptions a:hover{
    color: green;
}

     /* -------------------  responsive login page  ----------------  */

@media (max-width: 1439x){
    .mainbox{
        width: 60vw;
        margin-left: 20vw;

    }
    .mainbox input{
        width: 25vw;
    }
}
@media (max-width: 1080px){
    .mainbox{
        width: 90vw;
        height: 80vh;
        margin-top: 10vh;
        margin-left: 5vw;

    }
    .mainbox input{
        width: 40vw;
        height: 4vh;
    }
}